In [6]:
import pandas as pd
import numpy as np

In [7]:
dict = {'A':['A0', 'A1', 'A2','A3'],
	'B':['B0', 'B1', 'B2','B3'],
	'C':['C0', 'C1', 'C2','C3'],
	'D':['D0', 'D1', 'D2','D3']}
dict

{'A': ['A0', 'A1', 'A2', 'A3'],
 'B': ['B0', 'B1', 'B2', 'B3'],
 'C': ['C0', 'C1', 'C2', 'C3'],
 'D': ['D0', 'D1', 'D2', 'D3']}

In [8]:
df1 = pd.DataFrame(dict)

In [10]:
	df2 = pd.DataFrame({'A':['A4', 'A5', 'A6','A7'],
	'B':['B4', 'B5', 'B6','B7'],
	'C':['C4', 'C5', 'C6','C7'],
	'D':['D4', 'D5', 'D6','D7']})

In [11]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [12]:
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [13]:
pd.concat([df1,df2]) # Por default concatena por axis 0 o filas. Y mantiene los indices originales

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [14]:
pd.concat([df1,df2], ignore_index=True) # Para resetear el index

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [15]:
pd.concat([df1,df2], axis=1) # Para concatenar por el axis 1 o columnas / Es muy raro hacerlo de esta manera pero se puede.

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

#  Merge

In [16]:
izq = pd.DataFrame({'key' : ['k0', 'k1', 'k2','k3'],
 'A' : ['A0', 'A1', 'A2','A3'],
'B': ['B0', 'B1', 'B2','B3']})

der = pd.DataFrame({'key' : ['k0', 'k1', 'k2','k3'],
 'C' : ['C0', 'C1', 'C2','C3'],
'D': ['D0', 'D1', 'D2','D3']})

In [18]:
der

  key   C   D
0  k0  C0  D0
1  k1  C1  D1
2  k2  C2  D2
3  k3  C3  D3

In [17]:
izq

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [19]:
izq.merge(der, on='key') # Podría no especificar columna de merge porque pandas la detecta automaticamente pero no es recomedable por la claridad del codigo.

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [20]:
izq = pd.DataFrame({'key' : ['k0', 'k1', 'k2','k3'],
 'A' : ['A0', 'A1', 'A2','A3'],
'B': ['B0', 'B1', 'B2','B3']})

der = pd.DataFrame({'key_2' : ['k0', 'k1', 'k2','k3'],
 'C' : ['C0', 'C1', 'C2','C3'],
'D': ['D0', 'D1', 'D2','D3']})

In [21]:
# Si los nombres de las columnas no coinciden pero si lo hacen sus valores entonces puedo especificar sus nombre en el codigo y mergearlo igual
izq.merge(der, left_on='key', right_on='key_2')

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C0  D0
1  k1  A1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2
3  k3  A3  B3    k3  C3  D3

In [22]:
izq = pd.DataFrame({'key' : ['k0', 'k1', 'k2','k3'],
 'A' : ['A0', 'A1', 'A2','A3'],
'B': ['B0', 'B1', 'B2','B3']})

der = pd.DataFrame({'key_2' : ['k0', 'k1', 'k2',np.nan],
 'C' : ['C0', 'C1', 'C2','C3'],
'D': ['D0', 'D1', 'D2','D3']})

In [23]:
izq.merge(der, left_on='key', right_on='key_2') # No me trae 'k3' porque esta haciendo un inner join

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C0  D0
1  k1  A1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2

In [25]:
# Que tipo de combinación hacer puede ser seteado mediante el parametro how dentro del merge
izq.merge(der, left_on='key', right_on='key_2', how = 'inner') # Es como lo hace por default

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C0  D0
1  k1  A1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2

In [26]:
izq.merge(der, left_on='key', right_on='key_2', how = 'left')

  key   A   B key_2    C    D
0  k0  A0  B0    k0   C0   D0
1  k1  A1  B1    k1   C1   D1
2  k2  A2  B2    k2   C2   D2
3  k3  A3  B3   NaN  NaN  NaN

In [27]:
izq.merge(der, left_on='key', right_on='key_2', how = 'right')

   key    A    B key_2   C   D
0   k0   A0   B0    k0  C0  D0
1   k1   A1   B1    k1  C1  D1
2   k2   A2   B2    k2  C2  D2
3  NaN  NaN  NaN   NaN  C3  D3

In [30]:
izq.merge(der, left_on='key', right_on='key_2', how = 'outer') # con outer hago el merge completo rellenando de NaN los que no mergearon

   key    A    B key_2    C    D
0   k0   A0   B0    k0   C0   D0
1   k1   A1   B1    k1   C1   D1
2   k2   A2   B2    k2   C2   D2
3   k3   A3   B3   NaN  NaN  NaN
4  NaN  NaN  NaN   NaN   C3   D3

# Join: Index match vs match de columnas especificas como hicimos con el merge

In [31]:
izq = pd.DataFrame({'A': ['A0','A1','A2'],
  'B':['B0','B1','B2']},
  index=['k0','k1','k2'])

der =pd.DataFrame({'C': ['C0','C1','C2'],
  'D':['D0','D1','D2']},
  index=['k0','k2','k3'])

In [34]:
izq # Estos dataframes tienen indices seteados de antemano

     A   B
k0  A0  B0
k1  A1  B1
k2  A2  B2

In [33]:
der

     C   D
k0  C0  D0
k2  C1  D1
k3  C2  D2

In [35]:
# El join entonces va a servir para unir dataframes cuando tengamos indices seteados de antemano. No con los standar. Para estos casos debemos usar el merge y especificar que union realizar. 
izq.join(der) # Por defecto join será un left join. Si quiero hacer un inner, right o outer debo especificarlo como saegundo parametro

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

In [37]:
izq.join(der, how='inner')

     A   B   C   D
k0  A0  B0  C0  D0
k2  A2  B2  C1  D1

In [38]:
izq.join(der, how='right')

      A    B   C   D
k0   A0   B0  C0  D0
k2   A2   B2  C1  D1
k3  NaN  NaN  C2  D2

In [39]:
izq.join(der, how='outer')

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2

In [ ]:
# Con el merge tenés el control especifico de que columnas querés trabajar por lo que en lo personal me es mas util.