<a href="https://colab.research.google.com/github/Mgobeaalcoba/Pandas-y-Numpy/blob/main/series_y_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Dos objetos en pandas
# Series = Muy parecido a los arrays de numpy
# DataFrame = tablas tipo planilla de excel. 

import pandas as pd

In [2]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'],
          index = [1,7,10,30]
          )

In [3]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [4]:
# Si no defino el indice entonces por defecto arrancará en cero e irá incrementandose
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'])

In [5]:
psg_players

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [6]:
# Otra forma de armar una Serie de pandas es con un diccionario / Mas util si trabajamos con archivos tipo json por ejemplo.
dict = {1 : 'Navas',
        7 : 'Mbappe',
        10 : 'Neymar',
        30 : 'Messi'}
dict

{1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}

In [8]:
psg_players = pd.Series(dict)
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [9]:
psg_players[1]

'Navas'

In [10]:
psg_players[2] # Arroja error porque no tengo indice 2 ya que cree mi indice a gusto.

KeyError: ignored

In [11]:
psg_players[30]

'Messi'

In [12]:
# Para hacer slicing voy a tener que usar el indice por defecto
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'])
psg_players

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [14]:
psg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [20]:
# Si deseo armar una matriz entonces tengo un hacerlo mediante un diccionario de listas o una lista de diccionario
dict= {
    'Jugador' : ['Navas','Mbappe','Neymar','Messi'],
    'Altura' : [183.0,170.0,170.0,165.0],
    'Goles anotados' : [2,150,230,400]
}
dict

# Al armarlo mediante un diccionario de listas la llave debe ser el nombre de cada columna, mientras que el valor es una lista con los distintos valores que asume esa columna en cuestión

{'Altura': [183.0, 170.0, 170.0, 165.0],
 'Goles anotados': [2, 150, 230, 400],
 'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi']}

In [22]:
# Para pasarlo a estructura matrizial debo usar pd.DataFrame y ya no pd.Series ya que se trata de mas de dos dimensiones
df_players = pd.DataFrame(dict, index=[1,7,10,30])
df_players

   Jugador  Altura  Goles anotados
1    Navas   183.0               2
7   Mbappe   170.0             150
10  Neymar   170.0             230
30   Messi   165.0             400

In [23]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles anotados'], dtype='object')

In [24]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

In [27]:
# DataFrame del Granada FC
granada_dict = {
    'Jugador' : ['Luis Suarez','Jorge Molina', 'Antonio Puertas', 'German Sachez', 'Luis Milla', 'LuÃ­s Manuel Arantes Maximiano'],

    'Posicion' : ['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],

    'Numero': [9, 23, 10, 6, 5, 1],

    'Altura' : [185.0, 187.0, 185.0, 187.0, 175.0, 190.0],

    'Goles': [7, 7, 5, 2, 2, 0]
}
granada_dict

{'Altura': [185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
 'Goles': [7, 7, 5, 2, 2, 0],
 'Jugador': ['Luis Suarez',
  'Jorge Molina',
  'Antonio Puertas',
  'German Sachez',
  'Luis Milla',
  'LuÃ\xads Manuel Arantes Maximiano'],
 'Numero': [9, 23, 10, 6, 5, 1],
 'Posicion': ['Delantero',
  'Delantero',
  'Centrocampista',
  'Defensa',
  'Centrocampista',
  'Portero']}

In [31]:
df_granada = pd.DataFrame(granada_dict, index= granada_dict['Numero']) # Si quisiera armar el dataframe con los numeros 
df_granada

                           Jugador        Posicion  Numero  Altura  Goles
9                      Luis Suarez       Delantero       9   185.0      7
23                    Jorge Molina       Delantero      23   187.0      7
10                 Antonio Puertas  Centrocampista      10   185.0      5
6                    German Sachez         Defensa       6   187.0      2
5                       Luis Milla  Centrocampista       5   175.0      2
1   LuÃ­s Manuel Arantes Maximiano         Portero       1   190.0      0

In [33]:
df_granada = pd.DataFrame(granada_dict) # Armo el dataframe con indice estandar
df_granada

                          Jugador        Posicion  Numero  Altura  Goles
0                     Luis Suarez       Delantero       9   185.0      7
1                    Jorge Molina       Delantero      23   187.0      7
2                 Antonio Puertas  Centrocampista      10   185.0      5
3                   German Sachez         Defensa       6   187.0      2
4                      Luis Milla  Centrocampista       5   175.0      2
5  LuÃ­s Manuel Arantes Maximiano         Portero       1   190.0      0