In [ ]:
import numpy as np|

In [ ]:
arr = np.array([1,2,3,4])
arr

array([1, 2, 3, 4])

In [ ]:
arr.dtype # Veo que es un array o arreglo de enteros

dtype('int64')

In [ ]:
arr = np.array([1,2,3,4], dtype= float) # Lo voy a guardar como un arreglo de flotantes
arr

array([1., 2., 3., 4.])

In [ ]:
arr.dtype # los float son mas utiles para emplear en redes neoronales por ejemplos

dtype('float64')

In [ ]:
#Si quiero convertir mi array sin volver a nombrarlo como hice arriba puedo hacerlo:
arr = np.array([0,1,2,3,4,5])
arr = arr.astype(np.float64) #Es un metodo de numpy que se aplica sobre la variable en cuestion
arr

array([0., 1., 2., 3., 4., 5.])

In [ ]:
#Tmb puedo transformar datos tipo texto pero con numeros en enteros o viceversa
arr = np.array(['0','1','2','3','4'])
arr

array(['0', '1', '2', '3', '4'], dtype='<U1')

In [ ]:
arr = arr.astype(np.int8)
arr

array([0, 1, 2, 3, 4], dtype=int8)