In [1]:
import pandas as pd
import numpy as np

In [2]:
dict = {'Col1':[1,2,3,np.nan],
'Col2':[4, np.nan,6,7],
'Col3':['a','b','c', None]}

In [3]:
dict

{'Col1': [1, 2, 3, nan], 'Col2': [4, nan, 6, 7], 'Col3': ['a', 'b', 'c', None]}

In [5]:
df = pd.DataFrame(dict)
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

# ¿Como trabajamos en Pandas con los valores nulos o Nan?

In [7]:
df.isnull() # Si el valor es NaN o None entonces nos dará True

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [8]:
df.isnull()*1  # Si el valor es NaN o None entonces nos dará 1. Sirve mucho para redes neuronales

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [10]:
# Reemplazo los valores nulos por la palabra seleccionada. En este caso Missing
df.fillna('Missing')

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [11]:
# Tmb podría reemplazar los nulos por la media o cualquier otro valor estadistico siempre que mi columna sea de numeros. 
df.fillna(df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

In [13]:
# Otra forma de llenar los valores nulos es df.interpolate()
df.interpolate() # Rellena los espacios intermedios con los valores que Pandas asume deberían ir en esa serie. Si es el minimo o el maximo los repite.

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

In [14]:
# Otra manera que muchos cientificos usan es borrar directamente las filas que traigan datos nulos
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c